@import "tailwindcss";

/* Dark theme only configuration */
html {
  color-scheme: dark;
  background-color: #111827;
  color: white;
}

/* Ensure full height */
.no-transition,
.no-transition * {
  transition: none !important;
  min-height: 100vh;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -50%) scale(0.95); }
  10% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  90% { opacity: 1; transform: translate(-50%, -50%) scale(1); }
  100% { opacity: 0; transform: translate(-50%, -50%) scale(0.95); }
}

.animate-fadeInOut {
  animation: fadeInOut 2s ease-in-out forwards;
}

button{
  @apply cursor-pointer;
}

/* Smooth transitions for all clickable elements */
button, a {
  @apply transition-colors duration-200;
}

/* Prevent text selection on icons (like share/heart) */
svg {
  user-select: none;
  pointer-events: none;
}

@keyframes shimmer {
  0% {
        transform: translateX(-100%);
      }
  100% {
    transform: translateX(200%);
  }
}

.animate-shimmer {
  animation: shimmer 8s linear infinite;
}


/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  pointer-events: none;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* .fullscreen-active {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  left: 0; top: 0;
  z-index: 9999;
  background: black;
}

.fullscreen-active video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: contain !important;
} */

.neon-fs {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 9999;
  background: black;
}
.neon-fs video {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important; /* fill & crop */
}

